<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723373918333-5shi3o9iau3ftg3qiqhnubhfagp7mft2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723373918333-5shi3o9iau3ftg3qiqhnubhfagp7mft2</string>
	<key>API_KEY</key>
	<string>AIzaSyCFZDrYKKKrPvYN_o7ukCeCLNF88LD3obQ</string>
	<key>GCM_SENDER_ID</key>
	<string>723373918333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elvizcaino.chatfirebase</string>
	<key>PROJECT_ID</key>
	<string>chat-firebase-vizcaino</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-firebase-vizcaino.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723373918333:ios:273a9c1d80ad25b81fc914</string>
</dict>
</plist>